.gw_winners {
  width: 100%;
  background-color: #3d003e;
  color: azure;
  padding: 20px;
  margin-bottom: 20px;
  /* border-radius: 20px; */
}

/* ipad */

@media only screen and (min-width: 768px) {
  .gw_winners {
    width: 98%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }
}

/* laptop */

@media only screen and (min-width: 1200px) {
  .gw_winners {
    width: 610px;
    margin-left: 30px;
    margin-right: 0;
    border-radius: 20px;
  }
}
