.manager_detail {
  width: 100%;
  background-color: #3d003e;
  margin-bottom: 20px;
  color: azure;
  height: 200px;
  padding: 20px;
}
.gg-crown-parent {
  position: relative;
}

.gg-crown {
  color: #ff0082;
  position: absolute;
  top: -10px;
  left: 40px;
  -webkit-transform: rotate(320deg);
  -moz-transform: rotate(320deg);
  -ms-transform: rotate(320deg);
  -o-transform: rotate(320deg);
  transform: rotate(320deg);
  display: inline-block;
}

/* ipad */

@media only screen and (min-width: 768px) {
  .manager_detail_container {
    display: flex;
  }

  .manager_detail {
    width: 48%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .gg-crown {
    left: 20px;
  }
}

/* laptop */

@media only screen and (min-width: 1200px) {
  .manager_detail_container {
    margin-left: 20px;
  }

  .manager_detail {
    width: 300px;
    /* margin-left: 10px; */
    margin-right: 0;
    border-radius: 20px;
  }
}
